@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body::before{
    display:block;
    content:'';
    height:70px;
}
.nav-bar a{
   text-decoration: none;
   list-style-image: none;
 
}
/*
nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}
.hero {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.welcome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cause{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}*/
.container button{
    background-color: #FF7000;
    border-color: #FF7000;
    color:white;
}

.hero span{
    color:#FF7000;
}
.nav-link svg{
    margin-left:5px;
}


.hero{
    height:calc(100vh - 69px);
    background-color:black;
    color:white;
  }

.circle a:hover{
    background-color: lightsalmon;
}

.hero .container-hero{
    height: 100%;
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 535px;
    height: 138px;
    top: 280px;

}
.hero button {
    width:30%;
    color: #FF7000;
    border-color: #FF7000;
    background-color: #FF7000;
    color:white;

  }
 
.welcome .container h1 span{
    color:#FF7000;
}
.btn-welcome{
    background-color: #FF7000;
    border-radius:5px;
    margin-bottom: 400px;
}
.welcome-circle{
    background-color: #FF7000;
    height:90px;
    width:90px;
    border-radius:50px;
    position:relative;
    margin:auto;
   
}

.welcome-circle svg{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.cause{
    font-family: 'Roboto', sans-serif;
}
.cause span{
    color: white;
}
.cause .container-fluid{
    padding-top:70px;
    padding-bottom: 70px;
    background-color: #444444;
    color:#FF7000;
}
.col-md-6 span{
    color:white;
    font-family: 'Roboto', sans-serif;
    font: size 21px;
}
.square{
    background-color:#333333;
    width:570px;
    height:436px;
    border-radius:0;
    position:relative;
    bottom:0;
   
}
.square button{
   position:absolute; 
   bottom:0;
   left:45%;
   border-radius:5px;
   }

.line-total{
    height:9px;
    width: 455px;
    background-color: white;
    border-radius:4px;
   }
.line-filled{
    height: 9px;
    width:80%;
    background-color: #FF7000;
    left:0;
    border-radius:4px;
    margin-bottom: 10px;
}

.help h1{
    font-family: 'Roboto', sans-serif;
}
.help span{
    color: #FF7000;
}
.help svg{
    padding-top: 39px;
    padding-bottom: 32px;;
}
.help.col-md-4{
    Width:370px;
    Height:616px;
}
.col-md-4 img{
    width: 100%; 
    height: auto;
}
h3.card-title.text-left.mb-3.mt-3.ml-34.mr-34{
    Width:291px;
    Height:54px;
}
.line-total-help{
    height:9px;
    width: 322px;
    background-color:#444444;
    border-radius:4px;
   }
.line-filled-help{
    height: 9px;
    width:80%;
    background-color:#FF7000;
    left:0;
    border-radius:4px;
    margin-bottom: 10px;
}

button.accordion-button.collapsed {
    background-color:#D6D6D6;
    border-color: grey;
    color: #333333;
}
/*
.accordion-button::before {
        flex-shrink: 0;
        width: var(--bs-accordion-btn-icon-width);
        height: var(--bs-accordion-btn-icon-width);
        margin-right: auto;
        content: "";
        background-image: var(--bs-accordion-btn-icon);
        background-repeat: no-repeat;
        background-size: var(--bs-accordion-btn-icon-width);
        transition: var(--bs-accordion-btn-icon-transition);
}*/


/*STATS*/


.stats{
    height:391px;
    background-color:black;
    background-image:url(/Images/world-map.svg)
    
}

.white-circle{
    height:90px;
    width:90px;
    border-radius:50px;
    background-color: white;
}


.volunteer-heading span{
    color:#FF7000;
}

.card-text h3 {
    color: #FF7000;
}

.col-md-9 h4 {
color: #333333;
opacity: 0.5;
}

.volunteer-info{
height:430px;
background-color: #FF7000;
margin-bottom: 40px;
position:relative;
}

.volunteer-info button{
background-color: #444444;
color:white;
border:2px solid #444444;
border-radius: 5px;
position:absolute;
left:30%;
}

.icon-volunteer svg{
    padding-top:40px;
    height:68px;
    width:69px;
}

.events{
    height:1037px;
    background-color: #222222;
    padding-bottom: 130px;
   
}

.events h1{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 69px;
    padding-bottom:10px;
    padding-top:30px;
}
    

.h1-events span{
    color:#FF7000;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 69px;
      
}
.col-md-6-header2 .line{
    height:3px;
    width:100px;
    background-color:white;
}

.p-events{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:#666666;
padding-top:50px;
}

.events-block-item11{
    height:97px;
    width:97px;
    background-color: #FF7000;
}


.row .events-col-block{
    height:370px;
    width:524px;
    background-color:#FF7000;
    
    
  
}